#main {
    position: absolute;
    height: calc(100% - 26px);
    width:100%;
    margin-top: 26px;
    background-color: #242424;
    /* color: #fdfdfd; */
    overflow-y: auto;
    padding: 20px;
    /* padding:.4em .4em .4em .4em; */
  }