#container{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#container nav{
    display: block;
    width: 100%;
    height: 26px;
    background-color: #1e1e1e;
    -webkit-app-region: drag;
}

#container nav #logo{
    width: 20px;
    height: 100%;
    color: #dfdfdf;
    float:left;
    vertical-align:middle;
    padding: 4px 4px 4px 4px;
}

#container nav #buttons{
    float: right;
    width: 120px;
    height: 100%;
    line-height: 30px;
    background-color: #1e1e1e;
    -webkit-app-region: no-drag;
}

#buttons #minimize, #buttons #maximize, #buttons #close{
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #dfdfdf;
    transition: all ease-in-out .2s;
    cursor:default;
}

#buttons #minimize:hover, #buttons #maximize:hover, #buttons #close:hover{
    background-color: #222222;
}